html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: url("./images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: cursive;
}

header {
  padding: 1rem 3rem;
}

header img {
  float: left;
}

header .topnav ul {
  margin: 0;
  padding: 0;
  float: right;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .topnav ul li {
  width: 10rem;
  text-align: right;
  text-transform: capitalize;
  list-style: none;
  font-size: 1.5rem;
}

header .topnav li:hover {
  color: black;
  cursor: pointer;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main h1 {
  font-size: 4rem;
  margin: 0;
  transform: scaleX(0.75);
  animation: scaleIn 1s ease-in 0.2s forwards;
}

@keyframes scaleIn {
  100% {
    transform: scaleX(1);
  }
}

main .title {
  color: #02fee5;
}

main p {
  text-align: justify;
  font-size: 1.1rem;
  margin-block: 3rem;
}

main button {
  width: 15rem;
  height: 3.5rem;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  transition: ease-in all 0.5s;
}

main button:hover {
  background-color: #02fee5;
  border-radius: 1rem;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 750px) {
  .topnav ul li {
    display: none;
  }
  .topnav ul li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 750px) {
  main h1 {
    font-size: 2rem;
  }
  .topnav.responsive ul {
    position: relative;
  }
  .topnav.responsive ul li .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive ul {
    flex-direction: column;
  }

  .topnav.responsive ul li:first-child {
    padding-bottom: 1rem;
    transform: translateX(2rem);
  }

  .topnav.responsive ul li:not(:first-child) {
    display: block;
    background: #02fee5;
    padding: 1rem !important;
    color: black;
  }
}

@media screen and (max-width: 1200px) {
  main h1 {
    font-size: 2.2rem;
  }
}
